<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Home</h3>
    </div>
    <div class="d-flex d-sm-flex justify-content-between mb-4"><button id="fileup_btn" class="btn btn-success" type="button"><i class="fa fa-plus"></i>&nbsp; add video</button>
        <div class="dropdown"><button class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button">Manage</button>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Embed web/android</a><a class="dropdown-item" role="presentation" href="#">Add to category</a><a class="dropdown-item" role="presentation" href="#">Delete video</a></div>
        </div>
    </div>
    <div class="file-upload">
        <section>
            <div id="dropzone">
                <form class="dropzone needsclick dz-clickable" id="demo-upload" enctype="multipart/form-data" method="post" action="/upload" style="border: 2px dashed rgb(48, 149, 231);">
                    <div class="dz-message needsclick">
                        Drop files here or click to upload.
                        <br>
                        <span class="note needsclick">(This is just a demo dropzone. Selected 
                  files are <strong>not</strong> actually uploaded.)</span>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-12 mb-4" *ngFor="let video of getVid()">
            <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col-3 mr-2"><img [src]=video.src width="90px"></div>
                        <div class="col-7 mr-2">
                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>{{video.name}}</span></div>
                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>uploaded on 26/5/20</span></div>
                            <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>{{video.duration}}</span></div>
                        </div>
                        <div class="col-1"><i class="fas fa-ellipsis-v fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>