<div class="flex flex-wrap text-center align-items-end">
  <!-- Pricing Table-->
  <div class="lg:w-1/3 pr-4 pl-4 mb-5 mb-lg-0">
    <div
      class="p-5 rounded-lg shadow price_item"
      [class.selectedPrice]="selectedPrice === 0"
      (click)="selectedPackage('base')"
    >
      <h1 class="h6 uppercase font-bold mb-4">Basic</h1>
      <h2 class="h1 font-bold">
        $199<span class="text-small font-normal ml-2">/ month</span>
      </h2>
      <div class="custom-separator my-4 mx-auto bg-blue"></div>
      <ul class="list-unstyled my-5 text-small text-left">
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Lorem ipsum
          dolor sit amet
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Sed ut
          perspiciatis
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> At vero eos et
          accusamus
        </li>
        <li class="mb-3 text-grey">
          <i class="fa fa-times mr-2"></i>
          <del>Nam libero tempore</del>
        </li>
        <li class="mb-3 text-grey">
          <i class="fa fa-times mr-2"></i>
          <del>Sed ut perspiciatis</del>
        </li>
        <li class="mb-3 text-grey">
          <i class="fa fa-times mr-2"></i>
          <del>Sed ut perspiciatis</del>
        </li>
      </ul>
      <a
        href="#"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light block w-full p-2 shadow rounded-pill"
      >Subscribe</a>
    </div>
  </div>
  <!-- END -->
  <!-- Pricing Table-->
  <div class="lg:w-1/3 pr-4 pl-4 mb-5 mb-lg-0">
    <div
      class="p-5 rounded-lg shadow price_item"
      [class.selectedPrice]="selectedPrice === 1"
      (click)="selectedPackage('silver')"
    >
      <h1 class="h6 uppercase font-bold mb-4">Pro</h1>
      <h2 class="h1 font-bold">
        $399<span class="text-small font-normal ml-2">/ month</span>
      </h2>
      <div class="custom-separator my-4 mx-auto bg-blue"></div>
      <ul
        class="list-unstyled my-5 text-small text-left font-normal"
      >
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Lorem ipsum
          dolor sit amet
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Sed ut
          perspiciatis
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> At vero eos et
          accusamus
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Nam libero
          tempore
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Sed ut
          perspiciatis
        </li>
        <li class="mb-3 text-grey">
          <i class="fa fa-times mr-2"></i>
          <del>Sed ut perspiciatis</del>
        </li>
      </ul>
      <a
        href="#"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light block w-full p-2 shadow rounded-pill"
      >Subscribe</a
      >
    </div>
  </div>
  <!-- END -->
  <!-- Pricing Table-->
  <div class="lg:w-1/3 pr-4 pl-4">
    <div
      class="p-5 rounded-lg shadow price_item"
      [class.selectedPrice]="selectedPrice === 2"
      (click)="selectedPackage('gold')"
    >
      <h1 class="h6 uppercase font-bold mb-4">Enterprise</h1>
      <h2 class="h1 font-bold">
        $899<span class="text-small font-normal ml-2">/ month</span>
      </h2>
      <div class="custom-separator my-4 mx-auto bg-blue"></div>
      <ul
        class="list-unstyled my-5 text-small text-left font-normal"
      >
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Lorem ipsum
          dolor sit amet
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Sed ut
          perspiciatis
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> At vero eos et
          accusamus
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Nam libero
          tempore
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Sed ut
          perspiciatis
        </li>
        <li class="mb-3">
          <i class="fa fa-check mr-2 text-blue"></i> Sed ut
          perspiciatis
        </li>
      </ul>
      <a
        href="#"
        class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-blue-lightest bg-blue hover:bg-blue-light block w-full p-2 shadow rounded-pill"
      >Subscribe</a
      >
    </div>
  </div>
  <!-- END -->
</div>
