<h2 mat-dialog-title>Configure Video</h2>
<mat-dialog-content class="mat-typography">
    <mat-tab-group>
        <mat-tab label="Sample template">
            <pre><code [highlight]="template"></code></pre>
        </mat-tab>
        <mat-tab label="Configure video">
            <pre><code [highlight]="configuration"></code></pre>
        </mat-tab>
        <!-- <mat-tab label="Link"> Content 3 </mat-tab> -->
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>