<h2 mat-dialog-title>Configure Video</h2>
<mat-dialog-content class="mat-typography">
    <mat-tab-group>
        <mat-tab label="Sample template"> Content 1 </mat-tab>
        <mat-tab label="Configure video"> Content 2 </mat-tab>
        <mat-tab label="Link"> Content 3 </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>