/* adding the ediatable paragraph to the css */

.card {
    margin: auto;
    text-align: center;
    padding: 25px;
    border-radius: 15px;
    box-shadow: -1px -20px 38px 3px rgba(0, 0, 0, 0.14), 20px 3px 46px 8px rgba(0, 0, 0, 0.12), 19px -9px 15px -7px rgba(0, 0, 0, 0.2);
}

#editable {
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.5rem;
    margin: 0;
    display: inline;
    align-items: center;
}

#editable i {
    display: inline;
    font-size: 23px;
    color: red;
    float: right;
    margin-left: auto;
    cursor: pointer;
}

.form-control {
    width: 90%;
    border: 0;
    border-bottom: 1px solid red;
    padding: 10px 0;
    outline: 0;
}